h1 {
  color:black;
  font-family: Franklin Gothic Medium;
}

body {
  color: black;
  background-color:burlywood;
}

img {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
